.jumbotron {
  color: white;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/TechCrunch_Disrupt_SF_2017_-_Day_3_-_37184752332.jpg/1522px-TechCrunch_Disrupt_SF_2017_-_Day_3_-_37184752332.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}